<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="padding-left: 15px" href="{% url 'home_page' %}">Homework</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about_page' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'post_create' %}">Create Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'post_list' %}">All Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'author_subscribe' %}">Subscribe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'author_subscribers_all' %}">All Subscribers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'authors_new' %}">New Author</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'authors_all' %}">All Authors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'books_all' %}">All Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'categories_all' %}">All Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'test' %}">test for tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'medusweet_xlsx' %}">Medusweet XLSX</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    API
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'json_posts' %}">API All Posts</a>
                    <a class="dropdown-item" href="{% url 'api_post_show' 1 %}">API Post Show</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'api_subscribers_all' %}">API All Subscribers</a>
                    <a class="dropdown-item" href="{% url 'api_subscribe' %}">API Subscribe</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'api_authors_all' %}">Api All Authors</a>
                    <a class="dropdown-item" href="{% url 'api_authors_new' %}">Api New Author</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 d-none">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
